<h1>THIS IS YOUR TEACHER</h1>

<blockquote class="your-question">
  <%= @question %>
<p>-YOU</p>
</blockquote>
  <p></p>

<blockquote class="your-answer">
  <strong><%= @answer %></strong>
  <p>-YOUR COACH</p> 
</blockquote> 

<p></p>

<%= link_to "Ask me more", ask_path %>
